.html {
    background-image: url("../Images/teis.png");
    background-size: cover;
}

.glow {
    font-size: 50px;
    text-align: center;
    animation: glow 2s ease-in-out infinite alternate;
    margin-top: 100px;
    color: rgb(33, 25, 81);
}
  
@keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 10px magenta, 0 0 20px magenta, 0 0 30px magenta, 0 0 40px magenta, 0 0 50px magenta, 0 0 60px magenta;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 40px magenta, 0 0 50px magenta, 0 0 60px magenta, 0 0 70px magenta, 0 0 80px magenta, 0 0 90px magenta;
    }
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

.container {
  display: grid;
  text-align: center;
  width: 200px;
  margin: auto;
}

.container a{
  text-decoration: none;
  color: black;
}

.gameitem {
  background-color: #FFD700;
  padding: 20px;
  box-shadow: 5px 5px 5px #c9ab02;
  border-radius: 15px;
  text-align: center;
  text-shadow: 1.3px 1px 1px gray;
  margin: 20px;
  margin-top: 50px;
}

.gameitem img {
  width: 100px;
  margin-top: 5px;
}
